<section>
	<div class="row">
		<div class="col-md-8">
			<img ng-src="{{product.photos[0]}}"></img>
			<div class="row">
				<!-- change this to ng-repeat later -->
				<div class="col-md-4">
					<img ng-src="{{product.photos[1]}}"></img>
				</div>
				<div class="col-md-4">
					<img ng-src="{{product.photos[2]}}"></img>
				</div>
				<div class="col-md-4">
					<img ng-src="{{product.photos[3]}}"></img>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<h2>{{product.name}}</h2>
				<h3>{{product.price | currency}}</h3>
			</div>

			<div class="row">
				<!-- change this to ng-repeat later -->
				<div class="col-md-3">
					<p>{{product.color[0].name}}</p>
					<img ng-src="{{product.color[0].source}}"></img>
				</div>
				<div class="col-md-3">
					<p>{{product.color[1].name}}</p>
					<img ng-src="{{product.color[1].source}}"></img>
				</div>

				<div class="col-md-3">
				<label for="Sizes">Sizes</label>
				    <select ng-model="newInventorySize" multiple class="form-control">
					  <option value="small">Small</option>
					  <option value="medium">Medium</option>
					  <option value="large">Large</option>
					  <option value="xlarge">X-Large</option>
					</select>
				</div>
			</div>


		<!-- Specify Quantity -->
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2">Quantity</span>
			<input type="number" ng-model="quantityToPurchase" class="form-control" aria-describedby="sizing-addon2">
		</div>

		 <!-- Add to Cart Button -->
			<div>
				<button class="btn btn-info" ng-click="addToCart(product.sku)">Add To Cart</button> 
				<div ng-show = 'addedToCart'>Successfully added to cart!</div>
			</div>

<!-- Tabbed panels -->
			<div id="product-panel">
			  <tabset justified="true">
			    <tab heading="Description">{{ product.description }}</tab>
			    <tab heading="Brand">{{ product.brand }}</tab>
			  </tabset>
			</div>

<!-- Star Ratings -->
	    	<h4>Ratings</h4>
			<div>
				<star-ratings></star-ratings> <!-- Average Rating -->
			</div>

<!-- Reviews Section -->
			<div>
				<product-reviews></product-reviews>
			</div>
<!-- Write a Review -->
			<div>
				<button class="btn btn-info" ui-sref="writeReview({ item: product.sku })">Write a review</button>
			</div>

			<div>
				<button class="btn btn-info" ui-sref="reviews({ item: product.sku })">See all reviews</button>
			</div>
		</div>
	</div>

</section>