<h1> Edit Product </h1>
		<form name="editProductForm" ng-submit="updateProduct(editProduct)">
		  <div class="form-group">
		    <label for="itemName">Name of Item</label>
		    <input type="text" class="form-control" id="itemName" ng-model="editProduct.name" placeholder="{{product.name}}">
		  </div>
		  <div class="form-group">
		    <label for="Description">Description</label>
		    <input type="text" class="form-control" id="Description" ng-model="editProduct.description" placeholder="{{product.description}}">
		  </div>
		  <div class="form-group">
		    <label for="Brand">Brand</label>
		    <input type="text" class="form-control" id="Brand" ng-model="editProduct.brand" placeholder="{{product.brand}}">
		  </div>
		  <div class="form-group">
		    <label for="Price">Price</label>
		    <input type="text" class="form-control" id="Price" ng-model="editProduct.price" placeholder="{{product.price}}">
		  </div>

		  <!-- <div class="row" id="currentPhotos">
		  	<div class="col-lg-3" ng-repeat="photo in product.photos">
		  <img style="width: 150px;" ng-src="{{photo}}"></img>
	  		<button ng-click="removePhoto(indexOf(product.photos[this]))" class="btn btn-danger">x</button>
	  	</div>
	  	</div> -->
<!-- photo upload needs to be implemented -->
		  <!-- <div class="form-group">
		    <label for="exampleInputFile">Add Photo(s)</label>
		    <input type="file" id="newFilePhoto" ng-model="editProduct.photos">
		  </div> -->

		  <div class="col-lg-3">
		  	<p>{{product.category}}</p>
		  	<button ng-click="removeCategory()" class="btn btn-danger">x</button>
		  </div>
		  	<label for="Categories">Update Categories</label>
		    <select ng-model="editProduct.category" multiple class="form-control">
			  <option value="Tops">Tops</option>
			  <option value="Bottoms">Bottoms</option>
			</select>
		</div>

		<div class="form-group">
		    <label for="Type">Type</label>
		    <input type="text" class="form-control" id="Type" placeholder="{{product.type}}" ng-model="editProduct.type">
		</div>
		<button type="submit" class="btn btn-default">Update Product</button>
	</form>

	<form name="editInventory" ng-submit="addToInventory()">
		<div class="form-group">
		    <label for="Inventory">Inventory</label>
		    <select ng-model="editInventorySize" multiple class="form-control">
			  <option value="small">Small</option>
			  <option value="medium">Medium</option>
			  <option value="large">Large</option>
			  <option value="xlarge">X-Large</option>
			</select>
		    <input type="text" class="form-control" id="Color" placeholder="Color" ng-model="editInventoryColor">
		    <input type="text" class="form-control" id="Quantity" placeholder="Quantity" ng-model="editInventoryQuantity">
		    <button class="btn btn-info" type="submit">Add To Inventory</button>

		    <label for="Sku">Sku</label>
		    <input type="text" class="form-control" id="Sku" ng-model="editInventorySku" placeholder="{{product.sku}}">

		</div>

		<div class="row">
			<div class="col-lg-4">
			{{inventory}}
			</div>
		</div>
		</form>

	</div>
</div>