#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

.navbar-default {
	margin-bottom: 0px;
	height: 85px;
	// background-color: #333;
}

 // .navbar-logo {
 //    width: 100%;
 //    text-align: center;
 //    > a {
 //      float: none;
 //      display: inline-block;
 //    }
 //  }
  


.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}

.carousel .item img {
    //width: 75%; /*img width*/
}

.carousel .carousel-control {
    background: none;
    border: none;
    // top: 50%;
}

.glyphicon {
	color: #333;
}