<div class ="row">
	<div class="col-lg-1" id="sideBar">
		<nav id="category-nav" role="navigation" aria-label="Category Navigation">
			<ul class="nav-group">
				<li ng-repeat="category in categories">
					<p ng-click="selectCategory()">{{category.label}}</p>
				</li>
			</ul>
		</nav>
	</div>

	<div ng-show="results">{{results}}</div>

	<div class="col-lg-11" id="productRows">
		<div class="row">
			<div class="col-lg-4" id="productItem" ng-repeat="product in products">
				<img class="mainPageProducts" ui-sref="productItem({item: product.sku})" ng-src="{{product.photos[0]}}"></img>
				<p ui-sref="productItem({item: product.sku})">{{product.name}}</p>
				<p>{{product.price | currency}}</p>
			</div>
		</div>
		<!-- <p>{{toDisplay}} hi</p> -->
	</div>
</div>