<section>
	<h4>{{ updateMessage }}</h4>
	<div>
		<table class="table table-hover table-bordered">
			<th class="info">Promotion Code Name</th>
			<th class="info">Date Created</th>
			<th class="info">Expires</th>
			<th class="info">Valid For</th>
			<th class="info">Discount</th>
			<tbody>
			  	<tr ng-repeat="promo in promos" ng-click="editPromo()">
				  <td>{{ promo.promoCodeName }}</td>
				  <td>{{ promo.created | date: 'medium' }}</td>
				  <td>{{ promo.expires | date: 'medium' }}</td>
				  <td>Categories: {{ promo.validFor.categories.toString() }}<br>Products: {{ promo.validFor.products.toString() }}</td>
				  <td>{{ promo.discount }}%</td>
				</tr>
			<tbody>
		</table>
	</div>

</section>