<section>
	<div>
		<table class="table table-hover table-bordered">
			<th class="info">Promotion Code Name</th>
			<th class="info">Date Created</th>
			<th class="info">Expires</th>
			<th class="info">Valid For</th>
			<th class="info">Discount</th>
			<tbody>
			  	<tr ng-repeat="promo in promos" ng-click="editPromo()">
				  <td>{{ promo.promoCodeName }}</td>
				  <td>{{ promo.created }}</td>
				  <td>{{ promo.expires }}</td>
				  <td>Categories: {{ promo.validFor.categories }}<br>Products: {{ promo.validFor.products }}</td>
				  <td>{{ promo.discount }}%</td>
				</tr>
			<tbody>
		</table>
	</div>

</section>