<section> 
<form id="user-creation-form" name="userCreationForm" ng-submit="userCreationForm.$valid && registerUser(user)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <alert type="success" ng-show="success">
        {{ success }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="user.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="user-password">Password</label>
        <input type="password" ng-model="user.password" class="form-control" id="user-password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="user-password-check">Re-type Password</label>
        <input type="password" ng-model="user.passwordCheck" class="form-control" id="user-password-check" placeholder="Re-type Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</section>