#productItem img {
	width: 65%;
}

#productItem {
	text-align: center;
	padding-bottom: 5px;
}

#productRows {
	margin-top: 15px;
	padding-right: 10px;
}

#sideBar li {
	list-style: none;
}

#sideBar {
	padding-top: 15px;
	color: blue;
}

#productItem p {
	font-family: 'Helvetica';
	font-size: 1.0em;
}
